/* ==========================================================================
   H5BP Reset
   ========================================================================== */

html,button,input,select,textarea{color:#222;}
body{font-size:1em;line-height:1.4;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
img{vertical-align:middle;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
::-moz-selection{background:#b3d4fc;text-shadow:none;}
::selection{background:#b3d4fc;text-shadow:none;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
    background: url(bg.png) #222;
    background-size: cover;
    background-attachment:fixed;
}

.container {
    max-width: 1100px;
    margin: 25px auto;
    text-align: center;
    border: 2px solid #9a9a9a;
    box-shadow: 0 0 9px #168fa9;
    background: #f0f0f0;
    border-radius: 5px;
}

h1 {
    font-family: 'Anton';
    font-size: 36px;
    text-transform: lowercase;
    font-weight: 400;
    padding: 20px 0;
}

.game {
    width: 200px;
    height: 200px;
    margin: 9px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5px;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.game:hover {
    box-shadow: 0 0 5px #222;
    border-color: #fff;
    background: #f2f2f2;
}

.game img {
    width: 100%;
    height: auto;
    max-height: 200px;
    max-height: 100px;
    margin-bottom: 15px;
    border-radius-top: 5px;
    box-shadow: 0 6px 14px -5px #222;
}

.sorter {
    display: block;
}

.clear {
    clear: both;
}

/* ==========================================================================
   H5BP Helper classes
   ========================================================================== */

.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none!important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;overflow:visible;position:static;width:auto;margin:0;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}